<ion-header>
  <ion-toolbar color="warning">
    <ion-title class="ion-text-center">
      <ion-label>
        <ion-text color="dark">Formulario</ion-text>
        <p><ion-text color="dark"><strong>Contacto</strong></ion-text></p>
      </ion-label>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/publico/portal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="warning">Contáctate</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <!-- Campo Nombre -->
          <ion-item>
            <ion-label>Nombre</ion-label>
            <ion-input formControlName="nombre"></ion-input>
          </ion-item>
          <ion-note class="form-error" *ngIf="nombre?.invalid && nombre?.touched" slot="error">
            Se requiere Nombre
          </ion-note>
        
          <!-- Campo Email -->
          <ion-item>
            <ion-label>Email</ion-label>
            <ion-input formControlName="email"></ion-input>
          </ion-item>
          <ion-note class="form-error" *ngIf="email?.invalid && email?.touched" slot="error">
            Se requiere un correo electrónico válido
          </ion-note>
        
          <!-- Campo Descripción -->
          <ion-item>
            <ion-label>Descripción</ion-label>
            <ion-input formControlName="descripcion"></ion-input>
          </ion-item>
          <ion-note class="form-error" *ngIf="descripcionField?.invalid && descripcionField?.touched" slot="error">
            Se requiere una descripción
          </ion-note>
        
          <!-- Select de tipos -->
          <ion-item>
            <ion-label>Tipo</ion-label>
            <ion-select formControlName="tipo" (ionChange)="handleChange($event)">
              <ion-select-option *ngFor="let tipo of tipos" [value]="tipo.name">{{ tipo.name }}</ion-select-option>
            </ion-select>
          </ion-item>
        
          <!-- Botón de envío -->
          <ion-button type="submit" [disabled]="form.invalid">Enviar</ion-button>
        </form>
        
        
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
