ion-header {
    * {
      font-family: lato;
  
    }
    .center {
      margin-right: 56px;
    }
  }
  
  ion-content {
    * {
      font-family: lato;
  
    }
  
    div{
      max-height: 100%;
      height: 100%;
      display: flex;
      align-items: center;
        ion-card{
          width: 400px;
        }
      }
  }
  
  