<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center center">
      <ion-label>
        <ion-text color="light">Bienvenido a</ion-text>
        <p>
          <ion-text color="light"><strong>StockWise</strong></ion-text>
        </p>
      </ion-label>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="ion-padding" (ionChange)="segmentChanged($event)">
    <ion-segment mode="ios" [value]="segmentValue">
      <ion-segment-button value="1">
        <ion-label>Inventario</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>Analytics</ion-label>
      </ion-segment-button>
      <ion-segment-button value="3">
        <ion-label>Mineria</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="scroll($event)" #myContent>
  <ion-grid>
    <ion-row *ngIf="segmentValue === '1'">
      <ion-col
        size="12"
        size-md="4"
        size-lg="3"
        *ngFor="let item of categorias"
      >
        <ion-card class="custom-card" (click)="mostrarProductos(item.id)">
          <ion-card-header class="card-header">
            <ion-thumbnail class="category-thumbnail">
              <ion-img
                [src]="item.imagenUrl || 'assets/default-image.png'"
              ></ion-img>
            </ion-thumbnail>
            <ion-label class="category-label">
              <h2>{{ item.nombre }}</h2>
            </ion-label>
          </ion-card-header>
          <ion-card-content>
            <ion-button
              expand="full"
              color="secondary"
              (click)="mostrarProductos(item.id)"
            >
              <ion-icon slot="start" name="eye"></ion-icon>
              Ver
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="rowxd" *ngIf="segmentValue === '2'">
      <ion-col size="12">
        <div class="xd">
          <h2>Cantidad de Productos vendidos</h2>
          <iframe
            width="600"
            height="450"
            src="https://lookerstudio.google.com/embed/reporting/7b6002d7-f440-40e4-8934-9ec70a6d7c59/page/pnfTE"
            frameborder="0"
            style="border: 0"
            allowfullscreen
            sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"
          ></iframe>
          <h2>Variabilidad de Stock por Producto</h2>
          <iframe
            width="600"
            height="450"
            src="https://lookerstudio.google.com/embed/reporting/d0faf978-1091-4c11-8910-129a0c93f87e/page/lGeTE"
            frameborder="0"
            style="border: 0"
            allowfullscreen
            sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"
          ></iframe>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="rowxd" *ngIf="segmentValue === '3'">
      <ion-col size="12">
        <div class="xd">

          <h2>Mineria de Datos StockWise</h2>
          <ion-card class="custom-card">
            <ion-card-header class="card-header">
                <ion-img
                  src="\assets\images\image1.png"
                ></ion-img>
              <ion-label class="category-label">
              </ion-label>
            </ion-card-header>
          </ion-card>

          <ion-card class="custom-card">
            <ion-card-header class="card-header">
                <ion-img
                  src="\assets\images\image2.png"
                ></ion-img>
              <ion-label class="category-label">
              </ion-label>
            </ion-card-header>
          </ion-card>

          <ion-card class="custom-card">
            <ion-card-header class="card-header">
                <ion-img
                  src="\assets\images\image3.png"
                ></ion-img>
              <ion-label class="category-label">
              </ion-label>
            </ion-card-header>
          </ion-card>

          <ion-card class="custom-card">
            <ion-card-header class="card-header">
                <ion-img
                  src="\assets\images\image4.png"
                ></ion-img>
              <ion-label class="category-label">
              </ion-label>
            </ion-card-header>
          </ion-card>

          <ion-card class="custom-card">
            <ion-card-header class="card-header">
                <ion-img
                  src="\assets\images\image5.png"
                ></ion-img>
              <ion-label class="category-label">
              </ion-label>
            </ion-card-header>
          </ion-card>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
