<ion-header class="ion-no-border">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center center">
      <ion-label>
        <ion-text color="light">Bienvenido a</ion-text>
        <p><ion-text color="light"><strong>StockWise</strong></ion-text></p>
      </ion-label>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="ion-padding" (ionChange)="segmentChanged($event)">
    <ion-segment mode="ios" [value]="segmentValue">
      <ion-segment-button value="1">
        <ion-label>Inventario</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>Analytics</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="scroll($event)" #myContent>
  <ion-grid>
    <ion-row *ngIf="segmentValue === '1'">
      <ion-col size="12" size-md="4" size-lg="3" *ngFor="let item of categorias">
        <ion-card class="custom-card" (click)="mostrarProductos(item.id)">
          <ion-card-header class="card-header">
            <ion-thumbnail class="category-thumbnail">
              <ion-img [src]="item.imagenUrl || 'assets/default-image.png'"></ion-img>
            </ion-thumbnail>
            <ion-label class="category-label">
              <h2>{{ item.nombre }}</h2>
            </ion-label>
          </ion-card-header>
          <ion-card-content>
            <ion-button expand="full" color="secondary" (click)="mostrarProductos(item.id)">
              <ion-icon slot="start" name="eye"></ion-icon>
              Ver
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="segmentValue === '2'">
      <h1>Analytics</h1>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
