ion-header {
    * {
      font-family: 'Lato', sans-serif;
    }
  }
  
  ion-content {
    * {
      font-family: 'Lato', sans-serif;
    }
    height: 100%;
    display: flex;
    justify-content: center; /* Alinea el contenido en el centro horizontalmente */
    align-items: center; /* Alinea el contenido en el centro verticalmente */
  }
  
  .flex-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /*
  ion-card {
    width: 400px;
    max-width: 90%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  */
  
  ion-card-title {
    text-align: center;
    font-size: 1.5rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  ion-button {
    margin-top: 10px;
    width: 100%;
  }
  
  /* Estilo para los ion-items */
  ion-item {
    margin-bottom: 20px; /* Añadir espacio entre los campos */
    --highlight-height: 0px; /* Evitar que la línea de borde sea visible */
  }
  
  /* Estilo para el placeholder */
  ion-input {
    --padding-start: 0px;  /* Elimina el padding inicial si es necesario */
    --padding-top: 16px;   /* Añadir más espacio entre el input y el label */
    --padding-bottom: 8px; /* Espacio en la parte inferior del input */
  }
  
  ion-item.ion-item-has-placeholder ion-input {
      --padding-top: 16px; /* Más espacio cuando está vacío */
    }
    
    /* Espaciado cuando el input tiene texto */
    ion-item.ion-item-has-value ion-input {
      --padding-top: 5px; /* Reducir el espacio cuando hay texto */
    }
  
  /* Estilo para el label flotante */
  ion-label {
    margin-bottom: 5px; /* Añadir separación extra entre el label y el input */
    font-size: 1rem; /* Ajustar el tamaño de la fuente si es necesario */
    color: #333;
  }
  
  /* Mejora para el espacio y apariencia del ion-card */
  ion-card {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
  }
  
  
  .form-error {
    color: red;
    font-size: 0.8rem;
    padding-left: 10px;
  }
  