.custom-card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
  padding: 15px;
}

.custom-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.product-thumbnail {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.product-label h2 {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin: 0;
  padding: 5px 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

ion-button {
  width: 80%;
  margin: 10px auto;
  box-sizing: border-box;
}

ion-button:hover {
  background-color: #f0ad4e;
  transform: scale(1.05);
}

.category-header {
  text-align: center;
  padding: 10px;
  background-color: #f8f8f8;
}

.category-header h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
}

.low-stock {
  border: 2px solid orange;
}

.critical-stock {
  border: 2px solid red;
  animation: pulse 1s infinite;
}

.normal-stock {
  border: 2px solid green;
}

.text-danger {
  color: red;
  font-weight: bold;
}

.text-warning {
  color: orange;
  font-weight: bold;
}

.text-success {
  color: green;
  font-weight: bold;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px red;
  }
  50% {
    box-shadow: 0 0 15px red;
  }
  100% {
    box-shadow: 0 0 5px red;
  }
}

.custom-toast .toast-message {
  font-size: 14px;
  line-height: 1.5; /* Espaciado entre líneas */
}

.custom-toast {
  font-family: 'Arial', sans-serif;
  white-space: pre-wrap; /* Respetar los saltos de línea (\n) */
  font-size: 14px;
  line-height: 1.5; /* Ajustar el espaciado entre líneas */
  background-color: #333; /* Fondo oscuro */
  color: #fff; /* Texto claro */
  border-radius: 8px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
  text-align: left; /* Alinear el texto a la izquierda */
}

.custom-toast .toast-button {
  color: #ffcc00; /* Color del botón de cerrar */
  font-weight: bold;
}
