<ion-header>
  <ion-toolbar color="warning">
    <ion-title class="ion-text-center center">Registro</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/publico/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="warning">Regístrate</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <ion-item fill="outline" lines="none" class="ion-margin">
            <ion-label [position]="'floating'">Nombre Completo</ion-label>
            
            <ion-input formControlName="nombre_completo" type="text" placeholder="Ingresa tu nombre" autocomplete="given-name"></ion-input>
            <ion-note class="form-error" *ngIf="nombre_completo.invalid && nombre_completo.touched" slot="error">Se requiere Nombre completo</ion-note>
          </ion-item>


          <ion-item fill="outline" lines="none" class="ion-margin">
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input formControlName="email" type="text" placeholder="correo@mail.cl" autocomplete="email"></ion-input>
            <ion-note class="form-error"  *ngIf="email.invalid && email.touched" slot="error">Se requiere un correo electrónico</ion-note>
          </ion-item>


          <ion-item fill="outline" lines="none" class="ion-margin">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" type="password" placeholder="******"></ion-input>
            <ion-note class="form-error"  *ngIf="password.invalid && password.touched" slot="error">La contraseña debe tener al menos 6 caracteres</ion-note>
          </ion-item>

          <ion-item fill="outline" lines="none" class="ion-margin">
            <ion-label position="floating">Confirmar Contraseña</ion-label>
            <ion-input type="password" formControlName="confirmPassword" placeholder="******"></ion-input>
            <ion-note class="form-error"  *ngIf="form.hasError('notEqual') && confirmPassword.touched" slot="error">Las Contraseñas no coinciden</ion-note>
          </ion-item>

          <ion-button type="submit" color="warning" size="full">Registrarme</ion-button>
          <ion-button color="dark" fill="clear" size="full" [routerLink]="['/publico/login']">Ya tengo cuenta</ion-button>

        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<app-footer></app-footer>
