<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center center">Recuperar Contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/publico/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="secondary">Recuperación</ion-card-title>
      </ion-card-header>


      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <ion-item fill="outline" lines="none" class="ion-margin">
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input formControlName="email" type="text"></ion-input>
            <ion-note class="form-error" *ngIf="email.invalid && email.touched" slot="error">Debes ingresar tu correo electrónico</ion-note>

          </ion-item>
          <ion-button type="submit" color="secondary" size="full">Ingresar</ion-button>
          <ion-button fill="clear" color="dark" size="full" [routerLink]="['/publico/login']">Volver al LOGIN</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
