ion-header {
    * {
      font-family: lato;
  
    }
  }
  
  ion-content {
    * {
      font-family: lato;
  
    }
    height: 100%;
    display: flex;
    align-items: center;
    div{
      height: 100%;
        ion-card{
          width: 400px;
        }
      }
  }
  
  