.category-card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .category-thumbnail {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .category-name {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  ion-card-content ion-button {
    margin-top: 5px;
  }
  