<ion-header>
  <ion-toolbar color="warning">
    <ion-title class="ion-text-center">
      <ion-text color="dark">{{ isEditing ? 'Editar Producto' : 'Agregar Producto' }}</ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre del Producto</ion-label>
      <ion-input formControlName="nombre" required></ion-input>
    </ion-item>

    <ion-img *ngIf="imageUrl" [src]="imageUrl" class="imgProd"></ion-img>

    <!-- Campo de entrada de archivo -->
    <ion-item fill="outline" lines="none" class="ion-margin">
      <ion-label>Imagen</ion-label>
      <input type="file" (change)="chooseFile($event)" />
    </ion-item>

    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="number" formControlName="precio" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Stock</ion-label>
      <ion-input type="number" formControlName="stock" required></ion-input>
    </ion-item>
    
    <ion-button expand="full" type="submit" [disabled]="form.invalid">
      {{ isEditing ? 'Actualizar' : 'Agregar' }}
    </ion-button>
  </form>
</ion-content>
