<ion-header class="ion-no-border">
  <ion-toolbar color="warning">
    <ion-title class="ion-text-center center">
      <ion-label>
        <ion-text color="dark">Bienvenido a</ion-text>
        <p><ion-text color="dark"><strong>StockWise</strong></ion-text></p>
      </ion-label>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  <app-shrink-header [scrollArea]="myContent" [headerHeight]="120">
    <ion-grid [style.padding-bottom.px]="120 - newHeight"></ion-grid>
    <ion-list class="popover" lines="none"
      [style.margin-top.px]="-120 - newHeight/2">
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label class="ion-text-wrap ion-text-center">
              <h1>
                <b>{{contadorCategorias}}</b>
              </h1>
              <p>Total categorias</p>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label class="ion-text-wrap ion-text-center">
              <h1>
                <b>{{contadorProyectos}}</b>
              </h1>
              <p>Total Productos</p>
            </ion-label>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-list>
  </app-shrink-header>

  <div class="ion-padding" (ionChange)="segmentChanged($event)">
    <ion-segment mode="ios" [value]="segmentValue">
      <ion-segment-button value="1">
        <ion-label>Inventario</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>Analytics</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="scroll($event)" #myContent>

  <div class="flex-center">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="4" size-lg="3" *ngFor="let item of (segmentValue === '1') ? categorias : productos">
          <ion-card>
            <ion-card-header>
              <ion-item lines="none" class="ion-align-items-center">
                <ion-thumbnail slot="start">
                  <ion-img [src]="item.imagenUrl"></ion-img>
                </ion-thumbnail>
                <ion-label>
                  <ion-note color="dark"><b>{{item.nombre}}</b></ion-note>
                  <p><strong>Precio:</strong> {{ item.precio }}</p>
                  <p><strong>Stock:</strong> {{ item.stock }}</p>
                  <ion-button expand="block" color="primary" (click)="mostrarProductos(item.id)">Ver</ion-button>
                </ion-label>
              </ion-item>
            </ion-card-header>
          </ion-card>
          <p class="flex-center" *ngIf="item.length === 0">No hay productos disponibles para esta categoría.</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<app-footer></app-footer>
