<ion-header>
  <ion-toolbar>
    <ion-title>{{ isEditing ? 'Editar Categoría' : 'Agregar Categoría' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre de la Categoría</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Imagen</ion-label>
      <input type="file" (change)="chooseFile($event)" />
    </ion-item>
      <ion-img *ngIf="imageUrl" [src]="imageUrl" class="imgCat image-preview"></ion-img>
    <ion-footer>
      <ion-button expand="full" type="submit">{{ isEditing ? 'Actualizar' : 'Agregar' }}</ion-button>
    </ion-footer>
  </form>
</ion-content>
